{
    "presets": [
        "@babel/preset-flow",
        [
            "@babel/preset-env",
            { "targets": { "browsers": ">1%" }}
        ]
    ],
    "plugins": [
        "transform-class-properties"
    ]
}